*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
}
.head-content{
    display: flex;
    justify-content: center
    gap: 1rem;
}
.left-head{
    display: flex;
    margin-left: 1px;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}
.right-head{
    gap: 1rem;
    padding: 1rem;
    margin-left: 25rem;
    display: flex;
    flex-direction: row;
}
body{
    background-color: #000000;
    color: white;
    font-family: var(--default-font-family,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji");
    font-weight: 550;
    font-size: 0.834rem;
    padding: 1rem;
    width: 10rem;
    min-width: 20rem;
}
.downld-btn{
    width: 13rem;
    border-radius: 1rem;
    border: 1px solid rgb(47, 46, 46);
    color: white;
    background-color: rgb(40, 39, 39);
    box-shadow:8px 3px 10px  rgba(196, 180, 180, 0.1);
    height: 2rem;
    font-weight: 600;
}
.start-btn{
    width: 9rem;
    border-radius: 1rem;
    border: 1px solid rgb(47, 46, 46);
    color: white;
    background-color: rgb(81, 69, 255);
    box-shadow:8px 3px 10px  rgba(196, 180, 180, 0.1);
    height: 2rem;
    font-weight: 550;
     font-size: 0.734rem;
}
